* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
ul {
	list-style: none;
}
input,textarea {
	outline: none;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #504C4C;
	font-size: .93em;
	line-height: 1.5;
}
.container {
	width: 100%;
	max-width: 1670px;
	margin: 0 auto;
	padding: 0 15px;
}
/*burger*/
.burger {
	color: transparent;
	font-size: 0;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 9px 0;
	outline: none;
	display: none;
	z-index: 30;
}
.burger__line {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
}
.burger__line::before,
.burger__line::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	left: 0;
	transition: all .2s linear;
}
.burger__line::before {
	top: -8px;
}
.burger__line::after {
	bottom: -8px;
}
.burger.active .burger__line {
	background: none;
}
.burger.active .burger__line::before {
	transform: rotate(45deg);
	top: 0;
}
.burger.active .burger__line::after {
	transform: rotate(-45deg);
	bottom: 0;
}
/*header*/
.header {
	background: url('img/header_bg.png') right center #303030 no-repeat;
	background-size: contain;
	border-bottom: 1px solid #707070;
	position: relative;
}
.header--fixed {
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav {
	display: flex;
    justify-content: space-between;
    flex: 1;
	margin-bottom: -60px;
    max-width: 910px;
}
.header__links {
	position: relative;
	font-family: 'Arial', sans-serif;
	font-size: 1.25em;
	padding: 3px;
	transition: border-bottom .2s linear;
}
.header__links.active::after,
.header__links:hover::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #F47922;
}
.header__links:last-child {
	margin-right: 0;
}
.header__contacts {
	display: flex;
	align-items: center;
	font-family: 'Tahoma', sans-serif;
	top: -20px;
	right: -15px;
	position: relative;
}
.header__contacts::before {
	position: absolute;
	content: '';
	border: 34px solid transparent;
	border-bottom: 36px solid #fff;
	bottom: 0;
	left: -35px;
	cursor: pointer;
}
.header__email {
	background: #fff;
	color: #000;
	max-width: 198px;
	padding: 7px 50px 7px 70px;
}
.header__email:hover,
.header__tel:hover {
	text-decoration: underline;
}
.header__tel {
	background: #F47922;
	max-width: 190px;
	padding: 7px 30px 7px 20px;
}
/*logo*/
.logo {
	max-width: 231px;
	min-width: 136px;
}
.logo__img {
	width: 100%;
}
.logo a {
	display: block;
}
/*intro*/
.intro {
	background: url('img/intro_bg.jpg') #4F4F4F center top / cover no-repeat;
	height: 85vh;
}
.intro__inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.intro__more {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	width: 50%;
	text-transform: uppercase;
	padding-left: 60px;
	padding-top: 46px;
	padding-bottom: 22px;
	background: rgba(244,121,34,.4);
}
.intro__more h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 3em;
	color: #fff;
}
.intro__more a {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: .875em;
	background: rgba(244,121,34,.4);
	border: 1px solid rgba(255,255,255,.4);
	padding: 10px 47px 10px 27px;
	transition: background .2s linear;
}
.intro__more a:hover {
	background: rgba(244,121,34,.6);
}
/*technologies*/
.technologies {
	padding: 45px 0;
}
.technologies__content h2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	color: #504C4C;
}
.technologies__items {
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	margin: 45px 0;
}
.technologies__item {
	position: relative;
	width: 24.8%;
	background: #F47922;
	margin-bottom: 4px;
	/*margin-right: 4px;*/
}
/*.technologies__item:nth-child(4n+4) {
	margin-right: 0;
}*/
.technologies__item img {
	display: block;
	width: 100%;
	transition: opacity .2s linear;
}
.technologies__item:hover img,
.technologies__item--active img {
	opacity: .5;
}
.technologies__item:hover .technologies__descr,
.technologies__descr--active {
	color: #fff !important;
}
.technologies__descr {
	position: absolute;
	bottom: 10px;
	right: 40px;
	font-size: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	color: transparent;
	transition: color .2s linear;
}
.technologies__text {
	text-align: center;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1400px;
	color: #504C4C;
	font-size: .93em;
	font-family: 'Poppins', sans-serif;
}
.technologies__parag {
	line-height: 2;
	margin-bottom: 25px;
}
.technologies__parag:last-child {
	margin-bottom: 0;
}
/*ourwork*/
.ourwork {
	padding: 60px 0;
	background: #E8EDF1;
}
.ourwork__inner {
	padding: 0 25px;
}
.ourwork__header {
	line-height: 2;
	text-align: center;
	font-weight: 600;
	color: #504C4C;
}
.ourwork__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}
.ourwork__text {
	font-size: 1.18em;
	font-family: 'Poppins', sans-serif;
}
/*slider*/
.slider {
	position: relative;
	max-width: 1160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 50px;
}
.slider::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	border-top: 3px solid #5b5d5f;
	border-left: 3px solid #5b5d5f;
	top: 50%;
	transform: translateY(-50%) rotateZ(-45deg);
	left: -30px;
	cursor: pointer;
}
.slider::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	border-top: 3px solid #5b5d5f;
	border-left: 3px solid #5b5d5f;
	top: 50%;
	transform: translateY(-50%) rotateZ(135deg);
	right: -30px;
	cursor: pointer;
}
.slider--small {
	margin-top: 0;
}
.slider--small .slider__item {
	padding-bottom: 8px;
}
.slider--small::before {
	width: 15px;
	height: 15px;
}
.slider--small::after {
	width: 15px;
	height: 15px;
}
.slider--small .slider__item {
	margin-right: 20px;
}
.slider__item {
	text-align: center;
	width: 32%;
	background: #fff;
	padding: 12px 10px 20px;
}
.slider__img {
	width: 100%;
}
.slider__content {
	margin-bottom: 18px;
}
.slider__header {
	color: #f67c25;
	font-size: 1.62em;
	font-weight: 600;
	margin-top: 15px;
}
.slider__text {
	color: #888;
}
.slider__btn {
	color: #f67c25;
	border: 1px solid #f67c25;
	text-transform: uppercase;
	font-size: .875em;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 10px 36px;
	transition: all .2s linear;
	width: 94px;
}
.slider__btn:hover {
	background: #f67c25;
	color: #fff;
}
/*advantages*/
.advantages {
	display: flex;
}
.advantages__left {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	background: #f67c25;
	padding: 50px 60px;
	color: #fff;
}
.advantages__right {
	width: 50%;
	background: #737373;
	padding: 50px 30px 50px;
}
.advantages__item {
	font-family: 'Poppins', sans-serif;
}
.advantages__header {
	font-weight: 700;
	font-size: 1.875em;
	margin-bottom: 15px;
	color: #fff;
}
.advantages__list {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.8;
}
.advantages__list li::before {
	content: url(img/advant-icon.png);
	padding-right: 10px;
}
.advantages__videoandphoto {
	display: flex;
	height: 164px;
	margin-top: 40px;
}
.advantages__video {
	margin-right: 15px;
	width: 360px;
	overflow: hidden;
}
.advantages__photo {
	width: 490px;
	overflow: hidden;
}
.advantages__img {
	display: block;
	width: 100%;
}
/*sponsors*/
.sponsors {
	padding: 50px 25px;
}
/*sendamessage*/
.sendamessage {
	height: 570px;
	background: url('img/sendamessage_bg.jpg') center center / cover no-repeat;
	padding: 70px 0;
}
.sendamessage__title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 2.25em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 5px 5px 8px #000;
	padding-bottom: 42px;
}
.sendamessage__form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1164px;
	margin: 0 auto;
}
.sendamessage__input {
	margin-bottom: 10px;
}
.sendamessage__txtarea {
	resize: none;
	max-height: 125px;
	margin-bottom: 24px;
}
.sendamessage__input,
.sendamessage__txtarea {
	background: rgba(129,129,129,.5);
	border: 1px solid #8b8b8b;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: .9em;
	color: #fff;
	transition: background .2s linear;
}
.sendamessage__input:focus,
.sendamessage__txtarea:focus {
	background: rgba(129,129,129,.7);
}
.sendamessage__input:focus::placeholder,
.sendamessage__txtarea:focus::placeholder {
	color: #ccc;
}
::placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: .9em;
	color: #8b8b8b;
}
.sendamessage__input[type="submit"] {
	position: absolute;
	padding: 10px 18px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #fff;
	top: 100%;
	right: 0;
	cursor: pointer;
}
.sendamessage__input[type="submit"]:hover {
	background: rgba(129,129,129,.7);
}
/*footer*/
.footer {
	background: #373330;
	padding: 40px 15px 20px;
}
.footer__inner {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	justify-content: space-between;
}
.footer__item {
	position: relative;
	display: flex;
	align-items: center;
	height: 85px;
}
.footer__ico {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
	border: 4px solid #787574;
	border-radius: 50%;
	background: #f67c25;
}
.footer__tel,
.footer__email,
.footer__address {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.125em;
	margin-left: 105px;
}

/*media*/
@media only screen and (max-width: 1366px) {
	/*header*/
	.header__nav {
		max-width: 750px;
	}
	.header__contacts {
		font-size: .85em;
		top: -30px;
		right: 0;
	}
	.header__contacts::before {
		border: 30px solid transparent;
		border-bottom: 26px solid #fff;
		left: -30px;
	}
	.header__links {
		font-size: 1.1em
	}
	.header__email {
		padding: 4px 18px 4px 26px
	}
	.header__tel {
		padding: 4px 18px 4px 18px;
	}
}

@media only screen and (max-width: 1240px) {
	/*header*/
	.header__contacts::before {
		display: none;
	}
	.header__email {
		margin-right: 10px;
		background: url('img/email.png') center center / contain no-repeat;
	}
	.header__tel {
		background: url('img/phone.png') center center / contain no-repeat;
	}
	.header__email,
	.header__tel {
		width: 25px;
		height: 25px;
		font-size: 0;
		color: transparent;
		padding: 0;
	}
	.header__nav {
		margin-bottom: -40px;
	}
	.header__links {
		font-size: 1.16em
	}
}

@media only screen and (max-width: 1024px) {
	/*header*/
	.header__nav {
		max-width: 100%;
		margin: 0 10px 0 30px;
	}
	.header__email,
	.header__tel {
		display: none;
	}
	/*logo*/
	.logo {
		max-width: 200px;
	}
}

@media only screen and (max-width: 960px) {
	/*header*/
	.header__nav {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		flex-direction: column;
		width: 100%;
		margin: 0;
		z-index: 10;
		background: #303030;
		opacity: .9;
	}
	.header__nav.active {
		display: flex;
	}
	.header__links {
		padding: 8px 20px;
	}
	/*burger*/
	.burger {
		display: block;
	}
}
@media only screen and (max-width: 600px) {
	/*logo*/
	.logo {
		max-width: 100px;
	}
}